.nav{
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
   
    
}

.nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 10px;
    height: 60px;
}

.nav-btn:hover{
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(241, 240, 240);
}
.nav-icon{
    width: 25px;
    height: 25px;
}

.nav-txt{
    font-size: 11px;

}