.nav{
    display: flex;
    flex-direction: column;
    width: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 200;
   
    
}

.nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 8px;
    height: 60px;
    margin-right: 10px;
}

.nav-btn:hover{
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(241, 240, 240);
}

.nav-icon{
    width: 25px;
    height: 25px;
}

.nav-txt{
    font-size: 11px;

}

#home-relative{
    position: relative;
}


#home-absolute{
    position: absolute;
    background-color: white;
    left: 50px;
    top: 45px;
    font-size: 12px;
    padding: 5px;
    color: rgb(131, 131, 131);
    border: 1px solid black;
    opacity: 0;
}

#home-relative:hover #home-absolute{
    opacity: 1;
    transition: 0.8s;
}

#shorts-relative{
    position: relative;
}


#shorts-absolute{
    position: absolute;
    background-color: white;
    left: 50px;
    top: 45px;
    font-size: 12px;
    padding: 5px;
    color: rgb(131, 131, 131);
    border: 1px solid black;
    opacity: 0;
}

#shorts-relative:hover #shorts-absolute{
    opacity: 1;
    transition: 0.8s;
}

#subscriptions-relative{
    position: relative;
}


#subscriptions-absolute{
    position: absolute;
    background-color: white;
    left: 50px;
    top: 45px;
    font-size: 12px;
    padding: 5px;
    color: rgb(131, 131, 131);
    border: 1px solid black;
    opacity: 0;
}

#subscriptions-relative:hover #subscriptions-absolute{
    opacity: 1;
    transition: 0.8s;
}

#you-relative{
    position: relative;
}


#you-absolute{
    position: absolute;
    background-color: white;
    left: 50px;
    top: 45px;
    font-size: 12px;
    padding: 5px;
    color: rgb(131, 131, 131);
    border: 1px solid black;
    opacity: 0;
}

#you-relative:hover #you-absolute{
    opacity: 1;
    transition: 0.8s;
}

@media screen and (max-width: 785px){
      .nav{
        display: none;
      }
}