.thumbnails-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 120px 10px 0 90px;
    row-gap: 50px;
    column-gap: 10px;
}

@media screen and (max-width:1090px){
    .thumbnails-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:695px){
    .thumbnails-container{
        grid-template-columns: 1fr;
    }
}


.thumbnails-container-block{
    display: grid;
    grid-template-columns: 1fr ;
}
.thumbnail-pic{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.video-profile{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.thumbnails-container-block-grid{
    display: grid;
    grid-template-columns: 40px 350px;
    margin-top: 20px;
    max-height: 100px;
    cursor: pointer;
    
}

.thumbnail-para{
    margin-top: 0px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

#thmbnail-info{
    margin: -7px 0 5px 40px;
    text-wrap: nowrap;
    color: rgb(102, 102, 102);
    
}

#thumbnail-stats{
    color: rgb(102, 102, 102);
}

/* Thumbnail video time part */


.thumbnail-relative{
    position: relative;
    z-index: 0;
}

.thumbnail-absolute{
    position: absolute;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 12px;
    font-weight: 550;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.8;
    top: 157px;
    left: 354px;
    cursor: pointer;
}

.thumbnails-container{
    z-index: 0;
}
